<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>리스트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">



</head>
<body>


<div class="container">

    <h1 class="text-center mt-5">게시판</h1>

    <div class="row">

        <div class="col-8 offset-2 text-end">
            <button type="button" class="btn btn-dark " onclick="location.href='/board/register'">등록</button>

        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <th:block th:if="${boardDTOList !=null}">

                <table class="table table-hover mt-5">

                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>작성자</th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="boardDTO : ${boardDTOList}">
                        <tr>
                            <td th:text="${boardDTO.num}"></td>
                            <td>
                                <a th:href="'/board/read?num=' +${boardDTO.num}" >
                                    [[${boardDTO.title}]]
                                </a>
                            </td>
                            <td th:text="${boardDTO.content}"></td>
                            <td th:text="${boardDTO.writer}"></td>
                        </tr>

                    </th:block>


                    </tbody>

                </table>
            </th:block>

        </div>
    </div>



</div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>